<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/mael/Documents</string>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 855}}</string>
		<string>{{176, 0}, {1264, 855}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>23544635-F333-46F5-86F9-7998775037B6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>468F3F1A-A61D-491E-A599-474BF8BD7F9A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8058E0FE-FD09-489E-8D77-6D6A558DCDCD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8193937B-E6F9-44B9-B2B2-C84B3E3F94D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A53AC30D-C5F4-476B-976B-BFCFAB834A72</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF34D089-3D74-4177-A1C2-F994DFF03C79</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA1249E5-D8A5-4604-A7A0-7903F467B707</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F5A7F931-D8AF-4E1F-AA15-B6E5F59F257A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{587, 0}, {587, 825}}</string>
	</array>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1018, 825}}</string>
		<string>{{1019, 0}, {245, 825}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainWindowFrame</key>
	<string>418 118 1000 678 0 0 1440 875 </string>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 1724}, {595, 769}}</string>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
